src/SeLigaNoBlog/packages/
src/SeLigaNoBlog/SeLigaNoBlog.Playground/obj/
src/SeLigaNoBlog/SeLigaNoBlog.Playground/bin/
src/SeLigaNoBlog/SeLigaNoBlog.Wpf/bin/
src/SeLigaNoBlog/SeLigaNoBlog.Wpf/obj/
src/SeLigaNoBlog/SeLiNoBlog/obj/
src/SeLigaNoBlog/SeLigaNoBlog.Test/obj/
